.inputContainer {
    margin-bottom: 1.5em;
    
}

.labelText {
    font-size: 1.4rem;
    display: flex;
    margin: 0 0 0.6rem 4.5rem;
}

.inputWrapper {
    width: 100%;
    max-width: 400px;
    height: 50px;
    background-color: #3b3b3b;
    border: none;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 4.5rem;
}

.InputBox {
    background: none;
    border: none;
    flex: 1;
    color: #fff;
    font-size: 1rem;
}

.InputBox:focus {
    outline: none;
}

.InputBox::placeholder {
    color: #8C8C8C;
}

.inputWrapper img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    flex-shrink: 0;
}

.isIdAvailable {
    background-color: #3048D2;
    border: none;
    border-radius: 8px;
    padding: 0.25rem 0.8rem;
    color: #fff;
    text-align: center;
}

.isIdAvailable:active {
    background-color: #1A1A93;
}

.b {
    margin-bottom: 4rem;
}

.a {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.beforeButton {
    background-color: #8C8C8C;
    border: none;
    border-radius: 15px;
    max-width: 190px;
    width: 100%;
    height: 52px;
    color: #fff;
    font-size: 1.375rem;
}

.beforeButton:active {
    background-color: #7F7F7F;
}

.signInButton {
    background-color: #3048D2;
    border: none;
    border-radius: 15px;
    max-width: 190px;
    width: 100%;
    height: 52px;
    color: #fff;
    font-size: 1.375rem;
}

.signInButton:active {
    background-color: #1A1A93;
}