.logo {
    width: 202px;
    margin: 2rem auto;
    display: block;
  }
  
  .inputContainer {
    margin-bottom: 20px;
  }
  
  .labelRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .labelText {
    font-size: 14px;
    font-weight: 500;
    
  }
  
  .warningText {
    margin-right: 4.5rem;
    text-align: end;
    font-size: 12px;
    color: red;
  }
  
  .inputBox {
    width: 100%;
    max-width: 400px;
    height: 50px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    background-color: #3b3b3b;
    color: #fff;
    box-sizing: border-box;
  }
  
  .inputBox:focus {
    outline: none;
  }
  
  .isIdAvailable {
    background-color: #3048D2;
    border: none;
    border-radius: 8px;
    padding: 0.25rem 0.8rem;
    color: #fff;
    text-align: center;
  }
  
  .isIdAvailable:active {
    background-color: #1A1A93;
  }
  
  .pos {
    margin: 1rem 4.6875rem 0 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .nextButton {
    background-color: #3048D2;
    border: none;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
    height: 52px;
    color: #fff;
    font-size: 1.375rem;
  }
  
  .nextButton:active {
    background-color: #1A1A93;
  }
  
  .OAuthButton {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
  }
  
  .imgSize {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .toLogInButtonContainer {
    display: flex;
    justify-content: center;
  }
  
  .toLogInButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    max-width: 400px;
    width: 100%;
    height: 52px;
    border: 1px #fff solid;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .toLogInButton:hover {
    background-color: #fff;
    color: #000;
  }
  