* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url(../assets/signin-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 1100px;
    height: 700px;
    background-color: #181818;
    border-radius: 25px;
    color: #fff;
}
.leftContainer {
    width: 550px;
    height: 650px;
    text-align: center;
    align-content: center;
}

hr {
    border: 3px solid #272727;
    height: 600px;
    margin-top: 50px;
}

.rightContainer {
    width: 550px;
    height: 650px;
    
    text-align: center;
}

.on {
    display: flex;
    justify-content: center
}


.mike {
    margin-top: 10px;
}

.logo {
    width: 202px;
    height: 47px;
    margin: 52px 0 48px 0;
}




.inputContainer {
    margin-bottom: 25px;
}

.labelText {
    font-size: 22px;
    display: flex;
    margin: 0 0 10px 75px;
}

.inputBox {
    width: 400px;
    height: 50px;
    background-color: #3b3b3b;
    border: none;
    border-radius: 15px;
    padding: 15px;
    color: #fff;
}



input:focus {
  outline: none;
}


.isIdAvailable {
    background-color: #3048D2;
    border: none;
    border-radius: 8px;
    width: 82px;
    height: 26px;
    color: #fff;
    text-align: center;
    
}

.isIdAvailable:active {
    background-color: #1A1A93;
}

.pos {
    margin: 10px 75px 0 0;
    display: flex;
    justify-content: end;
}

.nextButton {
    background-color: #3048D2;
    border: none;
    border-radius: 15px;
    width: 400px;
    height: 52px;
    color: none;
    font-size: 22px;
}

.nextButton:active {
    background-color: #1A1A93;
}

.OAuthButton {
    display: inline-flex;

}
.imgSize {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 40px 20px 40px 20px;
}

.toLogInButtonContainer {
    display: flex;
    justify-content: center;
}

.toLogInButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 400px;
    height: 52px;
    border: 1px #fff solid;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}