.containerAgree {
    margin-top: 4rem;
}

.underHr {
    border: 2px solid #1C1C1C;
    margin: 1.5rem 7rem;
}

.underHrBold {
    border: 2px solid #3B3B3B;
    margin: 1.5rem 4.7rem;
}

.agreeAll {
    display: flex;
    justify-content: center;
    font-size: 20px;
    gap: 11px;
    align-items: center;
}

.agreeAllImg {
    width: 24px;
    height: 24px;
}


.agreeAndSigninButton {
    margin-top: 2.4rem;
    background-color: #3B3B3B;
    border: none;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
    height: 52px;
    color: none;
    font-size: 1.375rem;
    cursor: not-allowed;
    transition: background-color 0.2s ease;
}
  
.agreeAndSigninButton.active {
    background-color: #3048D2;
    cursor: pointer;
  }