.container {
    display: flex;
    height: auto;
    justify-content: space-between;
}

.checkImg {
    width: 12px;
    height: 10px;
}

.termsTitle {
    display: flex;
    gap: 15px;
    margin-left: 7rem;
    cursor: pointer;
}

.termsCheck {
    background: none;
    border: none;
    height: auto;
    color: #3B3B3B;
    display: flex;
    cursor: pointer;
}

.termsCheck:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: #7F7F7F;
    color: #7F7F7F;
}

.detail {
    display: flex;
    align-items: center;
    margin-right: 7.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #131313;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.closeButton {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background-color: #ef4444;
  color: white;
  border-radius: 4px;
  margin-top: 10px;
}

.contentArea {
    background-color: #272727;
    border-radius: 20px;
}
